@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/arvo/v14/tDbD2oWUg0MKqScQ7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Arvo";
    
}



header{
    background-color: rgb(88, 88, 88);
    padding: 10px;
    display: flex;
    text-align: center;
    flex: 1 0 10%;
    position: fixed;
    width: 100%;
    

}
header a {
    color: #eef5fc;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
#about{
    display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  border-width: 20px;
    border-color: white;
    border-style: solid;
}

#about section{
    width: 50%;
    text-align: center;
    border-style: solid;
    flex:50%;
}
#about img{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    
}



  
  .left{
    
    
    flex: 50%;
  }
  
  .right {
        
      flex: 50%;
      
     
      
  }
  

#project{

        display: flex;
        flex-direction: row;
        font-size: 30px;
        text-align: center;
        
        
        margin-bottom: 20px;
       
}

#project .left,#project .right{
    border-width: 20px;
      border-color: white;
      border-style: solid;
      
}
#project img:hover{
    transform: scale(115%);
}

#contact{
    display: flex;
    text-align: center ;
    background-color: #353535d5;
    color: white;
}
#contact a {
    text-decoration: none;
    font-style: italic;
    color: white;
    
}

footer{
    position: fixed;
    bottom: 0;
    left: 0%;
    
}
footer a {
    text-decoration: none;
    padding: 20px;
    color: black;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(88, 88, 88) ;
  width: 280px;
  right: 20px;
  position: fixed;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #6B9AC4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:#F45B69;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .about {
      flex-direction: column;
    }
    #project {
        flex-direction: column;
      }
      .open-button{
          width: 100px;
          height: 20px;
      }
  }






  